@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lemon Days';
  src: url('/src/assets/lemon-days.ttf'), format('truetype');
}

@font-face {
  font-family: 'Klik';
  src: url('/src/assets/klik.otf'), format('opentype');
}

.lemon-days {
  font-family: 'Lemon Days', sans-serif;
}

body {
  font-family: 'Klik', sans-serif;
}

.sweet-tings-background {
  background-image: url(/src/assets/chocolate-chip-cookies.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
